.orangeCircle {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 200px;
    /* background-color: rgb(255, 166, 0); */
    background-color: #e9f7ff    ;
    /* Round that corner */
    border-bottom-left-radius: 500px;
    z-index: -1; /* Place it behind other elements */
  }